@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* Universal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{

}
.blueify{

}
:root{
    --first-color: #94D3F5;
    --second-color: #333;
    --third-color: #2976A7;
}

/* Landing */
#landing{
    background-color: #333;
    background-image: linear-gradient(to right, rgba(51,51,51,0.5), rgba(51,51,51,0.5)), url(images/landing.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

  /* Title */
  #title{
    color: #fff;
    font-size: 108px;
    font-weight: 100;
    /* font-family: 'Source Sans Pro', sans-serif; */
    animation: zoomIn;
    animation-duration: 1s;
    position: absolute;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  @keyframes zoomIn{
    0%{
      opacity: 0;
      font-size: 0px;
    }
    100%{
      visibility: visible;
    }
  }

/* Rings */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.6s cubic-bezier(0, 0.2, 0.8, 1) 1 forwards;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -35vh;
    left: -35vh;
    width: 80vh;
    height: 80vh;
    opacity: 0;
  }
}

  /* Indicator */
  #indicator{
    margin-top: 28vh;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    opacity: 0;
    animation: fadeIn;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  #indicator span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-radius: 5px;
    animation: indicate 1s linear infinite;
  }
  #indicator span:nth-child(1){
    top: -50px;
    left: -50px;
    animation-delay: 0s;
  }
  #indicator span:nth-child(2){
    top: -25px;
    left: -25px;
    animation-delay: 0.2s;
  }
  #indicator span:nth-child(3){
    top: 0px;
    left: 0px;
    animation-delay: 0.4s;
  }
  #indicator span:nth-child(4){
    top: 25px;
    left: 25px;
    animation-delay: 0.6s;
  }
  #indicator span:nth-child(5){
    top: 50px;
    left: 50px;
    animation-delay: 0.8s;
  }
  @keyframes indicate{
    0%{
      border-color: #fff;
      transform: translate(0,0);
    }
    20%{
      border-color: #fff;
      /* transform: translate(15px,15px); */
    }
    20.1%, 100%{border-color: #03A688;}
  }

  /* Showcase */
#showcase{
  height: 110vh;
  background-color: var(--first-color);
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(to right, rgba(51,51,51,0), rgba(51,51,51,0)), url(images/showcase.jpg);
}
#showcase .intro{
  padding: 5vh 0 0 22vw;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #333;
}
#showcase h1{
  font-size: 62px;
}
#showcase h2{
  font-size: 42px;
}

#showcase img{
  height: 400px;
  width: auto;
  margin: 30vh 0 0 -55vw;
  box-shadow: -22px -22px 10px #999;
}
.slideIn{
  animation: slideRight 3s forwards;
}
@keyframes slideRight{
  0%{margin-left: -55vw;}
  100%{margin-left: 12vw;}
}

/* Skills */
#skills{
  height: 80vh;
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgba(51,51,51,0.5), rgba(51,51,51,0.5)), url(images/landing.jpg);
  background-size: cover;
}
#skills h2{
  color: #d3d3d3;
  font-size: 36px;
  width: 25vw;
  text-align: center;
  padding: 25px;
  margin-left: auto;
  border-bottom: 3px solid #999;
  background-image: linear-gradient(to right, rgba(250,250,250, 0), rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}
#boxes{
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* grid-gap: 15px; */
}
.box{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  padding: 25px;
  text-align: center;
  background-color: #d3d3d3;
  justify-items: center;
}
.box:hover{
  transform: scale(1.1);
  transition-duration: .5s;
  box-shadow: -10px -10px 10px #333;
}
.box:not(hover){
  transform: scale(1);
  transition-duration: .5s;
}
.box:nth-child(1){
  margin-left: -20vw;
}
.box:nth-child(2){
  margin-left: -20vw;
}
.box:nth-child(3){
  margin-left: 20vw;
  margin-top: -15vh;
}
.box:nth-child(4){
  margin-left: 20vw;
  margin-top: -15vh;
}
.box ul{
  padding-top: 2vh;
  width: 6vw;
  margin: auto;
}
.box p{
  padding-top: 2vh;
}

/* Projects */
#projects{
  height: 100vh;
  background-image: linear-gradient(to right, rgba(51,51,51,0.5), rgba(51,51,51,0.5)), url(images/landing.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
#projects h2{
  color: #d3d3d3;
  font-size: 36px;
  width: 25vw;
  text-align: center;
  padding: 25px;
  margin: 10vh 0 0 auto;
  border-bottom: 3px solid #999;
  background-image: linear-gradient(to right, rgba(250,250,250, 0), rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85vw;
  margin: auto;
  margin-top: 12vh;
}
.proj{
  width: 24vw;
  height: 24vw;
  padding: 15px;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
}
.proj h3{
  margin: 5px;
}
.proj img{
  height: 200px;
  width: auto;
}
.proj:hover{
  transform: scale(1.1);
  transition-duration: .5s;
  box-shadow: -10px -10px 10px #333;
}
.proj:not(hover){
  transform: scale(1);
  transition-duration: .5s;
}

/* Footer */

footer{
  height: 10vh;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}
footer p{
  margin-top: 4vh;
}
  /* Color Theme Swatches in Hex */
.Copy-of-showcase-1-hex { color: #2976A7; }
.Copy-of-showcase-2-hex { color: #303A3C; }
.Copy-of-showcase-3-hex { color: #94D3F5; }
.Copy-of-showcase-4-hex { color: #0D713C; }
.Copy-of-showcase-5-hex { color: #DAAF8A; }

/* Color Theme Swatches in RGBA */
.Copy-of-showcase-1-rgba { color: rgba(41, 118, 167, 1); }
.Copy-of-showcase-2-rgba { color: rgba(48, 58, 60, 1); }
.Copy-of-showcase-3-rgba { color: rgba(148, 211, 245, 1); }
.Copy-of-showcase-4-rgba { color: rgba(13, 113, 60, 1); }
.Copy-of-showcase-5-rgba { color: rgba(218, 175, 138, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-showcase-1-hsla { color: hsla(203, 60, 40, 1); }
.Copy-of-showcase-2-hsla { color: hsla(190, 11, 21, 1); }
.Copy-of-showcase-3-hsla { color: hsla(201, 82, 77, 1); }
.Copy-of-showcase-4-hsla { color: hsla(148, 79, 24, 1); }
.Copy-of-showcase-5-hsla { color: hsla(27, 51, 69, 1); }

/* Color Theme Swatches in Hex */
.landing-1-hex { color: #0C0B0D; }
.landing-2-hex { color: #03588C; }
.landing-3-hex { color: #0378A6; }
.landing-4-hex { color: #03A688; }
.landing-5-hex { color: #02735E; }

/* Color Theme Swatches in RGBA */
.landing-1-rgba { color: rgba(12, 11, 13, 1); }
.landing-2-rgba { color: rgba(3, 88, 140, 1); }
.landing-3-rgba { color: rgba(3, 120, 166, 1); }
.landing-4-rgba { color: rgba(3, 166, 136, 1); }
.landing-5-rgba { color: rgba(2, 115, 94, 1); }

/* Color Theme Swatches in HSLA */
.landing-1-hsla { color: hsla(270, 8, 4, 1); }
.landing-2-hsla { color: hsla(202, 95, 28, 1); }
.landing-3-hsla { color: hsla(196, 96, 33, 1); }
.landing-4-hsla { color: hsla(168, 96, 33, 1); }
.landing-5-hsla { color: hsla(168, 96, 22, 1); }